// container

blue = #94A0F8
green = #00B82E
gray = #A0A0A0
yellow = #C4C33E
red = #FF6C65

list_header = #2A3140 // #32394A
list_background = #32394A
list_selected = #262C3A

dark_border = #242A37
light_border = #3E4555

bar-height = 22px
statusbar-height = 15px

body
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  width 100%
  height 100%
  min-height 430px
  margin 0
  padding 0
  background black
  font-family monaco, sans-serif
  font-size 12px
  background-color list_background
a
  color white
  text-decoration underline

#container {
  display none
  position absolute
  left 200px
  min-width calc(100% - 200px)
  min-height 100%
  border-radius 5px
  background black
  box-shadow -1px 0 5px 1px #222C
  color white

  &.lock {
    overflow hidden
    height 100%
  }
}

#terminal {
  overflow auto
  height calc(100% - 45px)
  width 90%
  padding-left 3px
}

// top

#bar
  float left
  position relative
  width 100%
  height bar-height
  background linear-gradient(#E5E5E5, #AEAEAE)
  margin-top 1px

#title
  position: absolute
  width 200px
  height 100%
  left 50%
  margin-left -100px
  text-align center
  line-height bar-height
  font-family sans-serif
  font-size 13px

// buttons

#buttons {
  float left
  width 90px
  height 100%

  a {
    display block
    float left
    width 12px
    height 12px
    margin-left 8px
    margin-top 5px
    cursor pointer
  }
}

for button-name in close minimize maximize
  #buttons
    #{button-name}
      background-image url(../images/buttons/button-name.jpg)

    &:hover
      #{button-name}
        background-image url(../images/buttons/button-name -hover.jpg)

#full-screen {
  display block
  float right
  width 14px
  height 15px
  margin 4px
  background url(../images/buttons/full-screen.jpg)
  cursor pointer

  &:hover {
    background url(../images/buttons/full-screen-hover.jpg)
  }
}

// bottom

#status-bar {
  position absolute
  bottom 2px
  width 100%
  height statusbar-height
  background #252525
  color white
  overflow hidden

  ul {
    margin 0
    padding 0
    font-size 11px

    li {
      display inline-block
      margin-right 5px

      .data {
        float left

        &:before {
          content ''
          float left
          height 100%
          border-left 8px solid #252525
          border-top 8px solid transparent
          border-bottom 8px solid transparent
        }
      }

      .index {
        float left
        position relative
        padding 0 7px
        color #6B6B6B

        &::after,
        &::before {
          content ''
          position absolute
          left 100%
          width 0
          height 0
          border solid transparent
        }

        &:before {
          top 0
          z-index 2
          border-width 8px
          border-left-color #252525
        }

        &::after {
          top -2px
          z-index 1
          border-width 10px
          border-left-color #6B6B6B
        }
      }

      .ps {
        padding-left 20px
        padding-right 10px
        color #BFBFBF
      }

      span {
        display inline-block
        height 100%
      }

      &::after {
        content ''
        display inline-block
        height 100%
        border 8px solid transparent
        border-right-width 0
      }

      &:first-child {
        color black

        .data {
          background white

          &:before  {
            border-left-width 0
          }
        }

        .index {
          &::after,
          &:before {
            border 0
          }
        }

        &::after {
          border-left-color white
        }
      }
        

      &.active {
        .data {
          background #009ABA

          .index {
            color #8DE0F8

            &::before {
              border-left-color #009ABA
            }

            &::after {
              border-left-color #8DE0F8
            }
          }

          .ps {
            color white
          }
        }

        &::after {
          border-left-color #009ABA
        }
      }
    }
  }
}

// Terminal

#content {
  float left
  width 90%
  padding-right 10%
  height s('calc(100% - %s - %s - %s)', bar-height, statusbar-height, 8px)
  padding-top 2px
  padding-left 5px
  overflow auto

  .tmux {
    float left
    position relative
    width 100%
  }
}

.ps1 {
  display inline-block
  color white
  margin-right 5px

  .who {
    color blue
  }

  .where {
    color green
  }

  .branch {
    color gray
  }
}

.code {
  color white
  white-space pre-wrap

  &.stderr::before {
    content '✖'
    float left
    color red
    margin-right 7px
  }
}

.caret {
  display inline-block
  width 8px
  height 15px
  margin-bottom -4px
  background white
  color black
}

.valid {
  color green

  .caret {
    background green
    color black
  }
}

.invalid {
  color red

  .caret {
    background red
    color black
  }
}

.string {
  color yellow
}

#fork {
  position absolute
  top bar-height + 1
  right 0
  width 23%
  height auto
  max-width 149px
  max-height 149px
  border 0
}

#sidebar {
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  color white
  text-shadow 1px 1px 1px #333
  font 14px arial narrow
  letter-spacing 1px
  overflow-x hidden

  img {
    float left
    margin-right 8px
  }

  #header {
    width calc(100% - 15px)
    height 30px
    padding 15px
    background-color list_header
    border-bottom 1px solid dark_border

    span {
      line-height 30px
      float left
    }
  }

  ul {
    list-style none
    padding 0

    li {
      border-top 1px solid light_border
      border-bottom 1px solid dark_border
      padding 15px
      cursor pointer
    }
    li.active {
      background-color list_selected

      &::after {
        content '×'
        position absolute
        left 175px
        width 16px
        height 16px
        background #FFF3
        border-radius 16px
        text-align center
        color #DDD
      }
    }
  }

  #social-buttons {
    position absolute
    bottom 0
    width 100%

    li {
      height 20px
      padding 7px
    }
  }
}

#contact {
  color white
  font 30px arial narrow
  ul {
    list-style none
  }
}

#talks {
  margin-left 15px
}

iframe#resume {
  float left
  min-width 200px
  max-width 800px
  width 90%
  margin 0 30px
  border none
}

