- links = {
    contact: {
    'gmail': 'mailto:tadeuzagallo@gmail.com',
    'skype': 'skype://tadeuzagallo',
    'whatsapp': 'tel://+55 32 8863 3684'
    },
    coding: {
      'github': 'http://github.com/tadeuzagallo',
      'codeschool': 'http://codeschool.com/users/tadeuzagallo',
      'coderwall': 'http://coderwall.com/tadeuzagallo'
    },
    social: {
      'twitter': 'http://twitter.com/tadeuzagallo',
      'linkedin': 'http://www.linkedin.com/profile/view?id=160177159',
      'facebook': 'http://facebook.com/tadeuzagallo',
      'googleplus': 'http://www.google.com/+TadeuZagallo',
      'soundcloud': 'http://soundcloud.com/tadeu-zagallo'
    }
  }

#contact 
  %ul
    - for (var title in links) {
    %li
      %p= title.toUpperCase()
      - for (var name in links[title]) {
      %a(href="!{ links[title][name] }")
        %img(src="images/icons/!{ name }.png")
      - }
    -  }
