!!!5
%html
  %head
    %link(href="css/all.css" rel="stylesheet")
  %body
    #container
      #bar
        #buttons
          %a#close
          %a#minimize
          %a#maximize
        #title 1. tmux
        %a#full-screen
      #content
      #status-bar
    %script(src="js/all.js")
