!!!5
%html
  %head
    %title Tadeu Zagallo | Terminal.js

    %meta(name="description" content="Get to know my work through a web version of my terminal")
    %meta(name="keywords" content="Tadeu,Zagallo,Developer,Terminal,ZSH,Tmux,Web")
    
    %meta(property="og:title" content="Tadeu Zagallo | Terminal.js")
    %meta(property="og:description" content="Get to know my work through a web version of my terminal")
    %meta(property="og:type" content="website")
    %meta(property="og:url" content="http://tadeuzagallo.com")
    %meta(property="og:image" content="http://tadeuzagallo.com/images/share.png")
    %meta(property="og:image:type" content="image/png")
    %meta(property="og:image:width" content="400")
    %meta(property="og:image:height" content="400")

    %link(rel="shortcut icon" href="images/favico.ico" type="image/x-icon")
    %link(rel="icon" href="images/favico.ico" type="image/x-icon")

    %link(href="css/all.css" rel="stylesheet")
  %body
    #container
      #bar
        #buttons
          %a#close
          %a#minimize
          %a#maximize
        #title 1. tmux
        %a#full-screen
      #content
      #status-bar
    %script(src="js/all.js")
