!!!5
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title Terminal.js

    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")

    %link(href="css/all.css" rel="stylesheet")
  %body
    #container

    %script(src="js/all.js")
