!!!5
%html
  %head
    %link(href="css/all.css" rel="stylesheet")
  %body
    #container
      #bar
        #buttons
          %a#close
          %a#minimize
          %a#maximize
        #title 1. tmux (tmux)
        #full-screen
      #content
      #footer
        %ul
          %li 
            %span.data
              %span.index 0
          %li.active
            %div.data
              %span.index 1
              %span.ps ~
          %li
            %div.data
              %span.index 2
              %span.ps gulp
    %script(src="js/all.js")
